<footer class="bg-dark text-white p-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>About Us</h4>
                <p>Welcome to <a href="/">Marketing Insight HQ</a> - Your Ultimate Shopping Companion!

                    At Marketing Insight HQ, we're dedicated to making your online shopping experience smarter, easier, and more enjoyable. Our AI-powered blog generation website is your go-to resource for insightful product recommendations, in-depth reviews, and helpful buying guides.
                    
                    Our About Us section in the footer of the website showcases our commitment to helping you make informed decisions. We leverage cutting-edge artificial intelligence to sift through the vast selection of products on Amazon and handpick the best of the best, just for you. Whether you're seeking the latest tech gadgets, fashion essentials, home decor, or anything in between, our carefully curated lists are designed to save you time and money.
                    
                    Shop with confidence and shop wisely with ShopWiselyAI.com. Your next great purchase is just a click away!</p>
            </div>
            <div class="col-md-3">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="/">Home</a></li>
                    <li><a class="text-white" href="#">About</a></li>
                    <li><a class="text-white" href="#">Blog</a></li>
                    <li><a class="text-white" href="#">Contact</a></li>
                    <li><a class="text-white" href="{% url 'ssd_disc_price_compare' 'USA' %}">Price Compare Tool</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contact Info</h4>
                <p>Email: info@example.com</p>
                <p>Phone: +1 (123) 456-7890</p>
                <p><a href="https://www.facebook.com/people/Marketing-Insights-HQ/61555342605146/?mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
                <a href="https://www.facebook.com/people/Marketing-Insights-HQ/61555342605146/?mibextid=ZbWKwL"><i class="bi bi-twitter-x" style="color:white"></i></a>
                <a href="https://www.facebook.com/people/Marketing-Insights-HQ/61555342605146/?mibextid=ZbWKwL"><i class="bi bi-linkedin"></i></a></p>
            </div>
        </div>
        <hr class="bg-white">
        <p class="text-center">&copy; {{ year }} <a href="/">Marketing Insight HQ</a>. All rights reserved.</p>
    </div>
</footer>
