{% extends 'base.html' %}
{% block title %}Home - My Blog{% endblock %}

{% block content %}
    <h1>Home</h1>

    <div class="blog-list">
        {% for blog in latest_blogs %}
            <article class="blog-post">
                <h2><a href="{% url 'display_blog_post' blog.id blog.slug %}">{{ blog.heading }}</a></h2>
                <div class="content">
                    {{ blog.intro | safe | slice:":500" }}
                </div>
                <p class="timestamp">{{ blog.timestamp }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}