<footer class="bg-dark text-white p-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur ligula at nulla laoreet.</p>
            </div>
            <div class="col-md-3">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Home</a></li>
                    <li><a class="text-white"  href="#">About</a></li>
                    <li><a class="text-white"  href="#">Blog</a></li>
                    <li><a class="text-white"  href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Info</h4>
                <p>Email: info@example.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
        </div>
        <hr class="bg-white">
        <p class="text-center">&copy; {{ year }} RoboWritely. All rights reserved.</p>
    </div>
</footer>
